<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alin.cityselectorlib">

    <application android:allowBackup="true">

        <activity android:name=".activity.SelectCityActivity" />
        <activity android:name=".activity.TestActivity"/>
        <activity android:name=".activity.PopTestActivity"/>
        <activity android:name=".activity.SeekBarActivity"/>

    </application>

</manifest>